<form [formGroup]="form" (submit)="search()">
  <div class="field-row">
    <mat-form-field >
      <input
        formControlName="title"
        matInput
        placeholder="Title..."
        type="text">
    </mat-form-field>
  </div>
  <div class="field-row">
    <mat-form-field >
      <input
        formControlName="year"
        matInput
        placeholder="Year..."
        type="text">
    </mat-form-field>
  </div>
  <div class="field-row">
    <mat-form-field >
      <mat-select formControlName="type" placeholder="Type...">
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="button-row">
    <button mat-raised-button color="primary" type="submit">Search</button>
  </div>

</form>

<p>
  {{ message }}
</p>

<mat-card class="film-card" *ngFor="let film of films">
  <mat-card-header>
    <mat-card-title title="{{film?.Title}}">{{film?.Title | slice:0:24}}</mat-card-title>
    <mat-card-subtitle>{{film.Year }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ ( (film.Poster==='N/A')? 'http://via.placeholder.com/300x450' : film.Poster ) }}" alt="{{film?.Title}}">
  <mat-card-actions>
    <a [routerLink]="['/films/', film.imdbID]" mat-raised-button color="accent" href="">More info</a>
    <a mat-raised-button color="primary" (click)="addFilm(film.imdbID, film.Title)">Add to list</a>
  </mat-card-actions>
</mat-card>

<div class="clear"></div>
<!-- <p>
  {{films | json}}
</p> -->
