

form {
  max-width: 600px;
  padding: 20px;
}

.mat-form-field {
  width: 100%;
}
.film-card{
  width: 165px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
}
.mat-card-title{
  font-size: 20px;
  min-height: 50px;
}

.mat-card-image{
  height: 220px;
  min-height: 220px;
  max-height: 220px;
}

.clear{
  width: 100%;
  clear: both;
}
