<a [routerLink]="['/search']" mat-raised-button routerLinkActive="active">Search</a>
<a [routerLink]="['/films-list']" mat-raised-button routerLinkActive="active">Favorite List</a>
<div class="clear"></div>
