
  <mat-form-field>
    <input matInput placeholder="Filter by title" aria-label="Title" [matAutocomplete]="auto" [formControl]="filmCtrl">
    <mat-error>Title is required</mat-error>
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let film of filteredFilms | async" [value]="film.title">
        <span>{{ film.title }}</span> |
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

<mat-list>
  <mat-list-item *ngFor="let film of filteredFilms | async ">
    <a matLine  [routerLink]="['/films/', film.id]" >{{film.title}}</a>
    <a mat-icon-button mat-raised-button color="warn" >X</a>
  </mat-list-item>
</mat-list>
