
<div *ngIf="film">
  <h2>
    {{film.Title}} <span>({{film.Year}})</span>
  </h2>

  <div class="poster" *ngIf="film.Poster">
    <img src="{{film.Poster}}" alt="film.Title">
  </div>

  <p>
    {{film.Plot}}
  </p>

  <p>
    <b>Website:</b> <a href="{{film.Website}}">{{film.Website}}</a>
  </p>
  <h3>Ratings:</h3>
  <ul>
    <li *ngFor="let rating of film.Ratings">
      {{rating.Source}}: <b>{{rating.Value}}</b>
    </li>
  </ul>
  <!-- <p>
    {{ film | json }}
  </p> -->
</div>
<p *ngIf="!film">Loading film...</p>
